.forgetPassword {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.forgetPassword__container {
    width: 50vw;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.forgetPassword__container form h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.forgetPassword__container form .forgetPassword__containerError {
    background-color: green;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
}

/* .forgetPassword__container form {
    padding: 1.1rem 2rem; 
} */

.forgetPassword__container form label {
    font-weight: 600;
    font-size: 1.2rem;
}

.forgetPassword__container form button {
    width: 100%;
}

.forgetPassword__container form p {
    margin-top: 1.5rem;
}

.forgetPassword__container form button a {
    color: white;
    text-decoration: none;
}

.forgetPassword__container form p a {
    text-decoration: none;
    padding-left: 10px;
}