.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;

}

.login__container {
    width: auto;
    height: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.login__container form h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.login__container form {
    padding: 1.1rem 2rem;

}

.login__container form .login__containerError {
    background-color: green;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
}



.login__container form label {
    font-weight: 600;
    font-size: 1.2rem;
}

.login__container form button {
    width: 100%;
}

.login__container form p {
    margin-top: 1.5rem;
}

.login__container form button a {
    color: white;
    text-decoration: none;
}

.login__container form p a {
    text-decoration: none;
    padding-left: 10px;
}