.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-bottom: 1px solid rgb(179, 154, 125);
    padding-bottom: 20px;
}

.logo h1 {
    font-weight: 400;
    text-shadow: 4px 3px 6px #111111;
}

.Navbar__logout {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

}

.Navbar__message {
    background-color: darkgreen;
    color: white;
    text-align: center;

}