.inputSession {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem;
    border-bottom: 1px solid lightgray;
}

.urlHeading {
    font-size: 13px;
    font-weight: 500;
}

.urlList{
    padding: 20px 60px;

}