.signup {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}

.signup__container form {
  padding: 20px;
}
.signup__container form input{
    padding: 20px;
  }

.signup__container form button {
  width: 100%;
}
